body {
font-family: sans-serif;
background: -webkit-linear-gradient(135deg,#71b7e6,#9b59b6);
color: white;
}

.logo {
    position: relative;
    margin-left: 44%;
}

h2 {
    
    font-weight: bolder;
}

.container {
 position: relative;
 height: 1020px;
 width: 900px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 background: rgba(180, 179, 179, 0.86);
 margin-bottom: 50px;
 font-weight: bold;
 font-size: large;
 border-radius: 16px;
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
}


.glass {
    /* From https://css.glass */

border-radius: 16px;

backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
}
